#galeria {
    margin: 3%;
}

#galeria img {
    width: 100%;
    height: 90%;
    background-color: white;
    padding: 10px;
}

#galeria img:hover {
    border: solid rgba(241, 219, 20, 0.533);
}

#exampleModal .modal-img {
    width: 100%;
}